.suggestions {
  list-style-type: none;
  border-bottom: 1px solid rgb(42, 132, 165);
  border-left: 1px solid rgb(42, 132, 165);
  border-right: 1px solid rgb(42, 132, 165);
  margin: 0 auto;
  padding: 0px;
  background-color: rgb(215, 232, 250);
}
.suggestions li {
  padding: 5px 0px 5px 5px;
  text-align: left;
  font-size: 24px;
  cursor: pointer;
}
.suggestions li:hover {
  background-color: rgb(42, 138, 165);
}
.autocomplete {
  border: 2px solid rgb(42, 91, 165);
  border-radius: 5px;
  padding: 12px;
  font-size: 24px;
}
